li.selected {
   background-color: var(--color-primary);
   color: var(--heading-primary);
}

.btn-primary {
   background-color: var(--color-primary);
   border-color: var(--color-primary);
}

.playlists-heading {
   margin: 1.5rem auto;
}

.create-playlist-toggle {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.create-playlist-heading {
   margin: 1rem 0 2rem 0;
}

.create-playlist-toggle i {
   margin-left: 1rem;
   font-size: 1.5rem;
   color: var(--color-primary);
}

.divider {
   height: 2px;
   background-color: hsl(0, 0%, 85%);
}

.form-inline * {
   margin-right: 0.5rem;
}
