.playlist-item {
   cursor: pointer;
}

.playlist-item.selected {
   background-color: hsl(0, 0%, 90%);
   color: var(--color-primary);
}

.playlists-heading {
   margin: 1.5rem auto;
}

.divider {
   height: 2px;
   background-color: hsl(0, 0%, 85%);
}
