<ng-template #myModal let-modal>
   <div class="modal-header">
      <h4 class="modal-title">
         {{ albumToAdd.name }} <span class="text-muted">- {{ albumToAdd.artistName }}</span>
      </h4>
   </div>
   <div class="modal-body">
      <div class="create-playlist-toggle">
         <h5 class="create-playlist-heading">Create a new playlist</h5>
         <i class="fa fa-plus"></i>
      </div>
      <form class="create-playlist-form">
         <div class="form-group row">
            <label for="playlistName" class="col-2 col-form-label">Name</label>
            <div class="col-10">
               <input type="text" name="name" class="form-control" id="playlistName" />
            </div>
         </div>
         <div class="form-check">
            <input type="checkbox" name="isPrivate" class="form-check-input" id="isPrivate" />
            <label for="isPrivate" class="form-check-label">Make it private</label>
         </div>
         <button type="submit" class="btn my-btn-outline-primary">Submit</button>
      </form>

      <div class="divider"></div>
      <h5 class="playlists-heading">Choose an existing playlist</h5>
      <ul class="list-group">
         <li
            class="list-group-item"
            *ngFor="let playlist of playlists"
            [class.selected]="playlist === selectedPlaylist"
            (click)="selectPlaylist(playlist)"
         >
            {{ playlist.name }}
         </li>
      </ul>
   </div>
   <div class="modal-footer">
      <button *ngIf="selectedPlaylist" class="btn my-btn-primary">Add to {{ selectedPlaylist.name }}</button>
      <button class="btn btn-secondary" (click)="modal.close()">close</button>
   </div>
</ng-template>
