<div class="container">
   <h2 class="page-title">Albums</h2>
   <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum neque repudiandae harum non obcaecati dolore
      repellat accusamus itaque rem quo, earum alias mollitia officiis soluta exercitationem blanditiis, odio ea
      recusandae excepturi commodi, <a href="#" class="primary-color-link">Add a new album</a>
   </p>
   <div class="divider"></div>
   <app-album-list [albumsToFetch$]="allAlbums$"></app-album-list>
</div>
