<div class="album-item card">
   <i
      *ngIf="userIsAuthenticated"
      class="fa fa-plus-circle add-to-playlist"
      (click)="emitAddAlbumToPlaylistEvent()"
      aria-label="Add to playlist"
   ></i>
   <div class="card-body">
      <h3 class="card-title">{{ album.name }}</h3>
      <h6 class="card-subtitle mb2 text-muted">
         <a class="artist-link" href="#">{{ album.artistName }}</a>
      </h6>
      <span class="text-muted">{{ album.releaseDate | date }}, {{ album.albumLength }}</span>
   </div>
</div>
