.album-item {
   margin-bottom: 1.5rem;
   height: 13rem;
   width: 20rem;
   border: 5px double hsl(0, 0%, 45%);
   padding: 0.5rem;
}

.add-to-playlist {
   margin: 0 0 0 auto;
   font-size: 1.4rem;
}

.add-to-playlist:hover {
   cursor: pointer;
   color: var(--color-primary);
}

.album-info {
   text-align: center;
}

.album-title {
   margin: 0.9rem auto;
   height: 4rem;
   overflow: hidden;
}

.artist-link {
   color: var(--color-primary);
}

.artist-link:hover {
   color: var(--color-primary-darker);
}
