.album-item {
   margin-bottom: 1.5rem;
   height: 11.5rem;
   width: 20rem;
   border: 5px double hsl(0, 0%, 45%);
   padding: 0.35rem;
}

.add-to-playlist {
   font-size: 1.5rem;
}

.add-to-playlist:hover {
   cursor: pointer;
   color: var(--color-primary);
}

.album-info {
   text-align: center;
}

.album-title {
   margin-bottom: 1rem;
   height: 4.25rem;
   overflow: hidden;
}
