<div class="container">
   <h1>Artists</h1>
   <p>
      Here you can browse artists and use the search box to search for your
      favourite artist. <span>If you're logged in,</span>you can add an artist
   </p>
   <div class="input-group">
      <input
         type="text"
         id="artist-search-input"
         class="form-control"
         [(ngModel)]="searchInput"
         placeholder="search for an artist..."
      />
      <div class="input-group-append">
         <button class="btn">Add Artist</button>
      </div>
   </div>
   <table class="table">
      <thead>
         <tr>
            <th>#</th>
            <th>Artist name</th>
            <th>Added on</th>
         </tr>
      </thead>
      <tbody>
         <ng-container *ngFor="let artist of artists$ | async; index as idx">
            <tr *ngIf="artistMatchesFilter(artist)">
               <th>{{ idx + 1 }}</th>
               <td>{{ artist.name }}</td>
               <td>{{ artist.createdAt | date }}</td>
            </tr>
         </ng-container>
      </tbody>
   </table>
</div>
