<div class="container">
   <h1>Artists</h1>
   <p>
      Here you can browse artists and use the search box to search for your favourite artist.
      <span>If you're logged in,</span> you can add a new artist.
   </p>
   <div *ngIf="addArtistSuccessMessage" class="alert alert-success">{{ addArtistSuccessMessage }}</div>
   <div *ngIf="addArtistFailMessage" class="alert alert-danger">{{ addArtistFailMessage }}</div>
   <div class="input-group">
      <input
         type="text"
         id="artist-search-input"
         class="form-control"
         [(ngModel)]="searchInput"
         placeholder="search for an artist..."
         (keyup)="onArtistSearchKeyup($event)"
      />
      <div *ngIf="userIsAuthenticated" class="input-group-append">
         <button class="btn" [disabled]="!searchInput.trim()" (click)="addArtist()">Add Artist</button>
      </div>
   </div>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th>#</th>
               <th>Artist name</th>
               <th>Added on</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let artist of filteredArtists; index as idx">
               <th>{{ idx + 1 }}</th>
               <td>{{ artist.name }}</td>
               <td>{{ artist.createdAt | date }}</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
