<ng-template #myModal let-modal>
   <div class="modal-header">
      <h4 class="modal-title">Add</h4>
   </div>
   <div class="modal-body">
      <p>hi</p>
   </div>
   <div class="modal-footer">
      <button class="btn btn-primary" (click)="modal.close()">close</button>
   </div>
</ng-template>

<div class="container">
   <button class="btn btn-primary" (click)="open(myModal)">open modal</button>

   <div class="form-row">
      <div class="form-group col-md-6">
         <label for="searchInput">Search for</label>
         <input
            type="search"
            class="form-control"
            id="searchInput"
            #searchInput
            placeholder="search by album or artist..."
         />
      </div>
      <div class="form-group col-md-6">
         <app-sort-option-select
            [sortOptions]="sortOptions"
            (sortChangeEvent)="handleSortChange($event)"
         ></app-sort-option-select>
      </div>
   </div>

   <div class="albums-wrapper">
      <div class="row">
         <app-album-display
            class="col-md-4"
            *ngFor="let album of albums$ | async"
            [album]="album"
            (AddAlbumToPlaylist)="handleAddAlbumToPlaylistEvent($event)"
         ></app-album-display>
      </div>
   </div>
</div>
