.heading {
   margin: 1.25rem 0;
}

.artist-list-wrapper {
   margin-bottom: 1rem;
}

#searchInput {
   margin-bottom: 0.5rem;
}

.table-responsive {
   height: 22rem;
   overflow-y: auto;
}

.artist-list-item {
   cursor: pointer;
}

.artist-list-item.selected {
   color: var(--color-primary);
   background-color: hsl(0, 0%, 90%);
   font-weight: bold;
}

.num-row,
.num-row-heading {
   width: 5rem;
}

.artist-info {
   padding: 1.5rem;
   border: 2px solid var(--color-primary);
   border-radius: 0.3rem;
   height: 23rem;
}

.albums-heading {
   margin-top: 1.5rem;
}

.album-list {
   height: 12.5rem;
   overflow-y: auto;
}

@media (min-width: 992px) {
   .artist-list-wrapper {
      margin-bottom: 0;
   }

   .table-responsive {
      height: 25rem;
   }

   .artist-info {
      height: 100%;
   }

   .album-list {
      height: 17.5rem;
   }
}
