.create-playlist-toggle {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1.3rem 0;
}

.create-playlist-toggle:hover {
   cursor: pointer;
}

.create-playlist-toggle i {
   font-size: 1.5rem;
   color: var(--color-primary);
}

.create-playlist-form {
   margin-bottom: 2rem;
}

.create-playlist-form button {
   margin-top: 2.5rem;
}

.form-check-input {
   width: 1.5rem;
   height: 1.5rem;
}

.form-check-label {
   font-size: 1.25rem;
   margin-left: 1.5rem;
}
