.back-to-top {
   cursor: pointer;
   font-size: 1.2rem;
   text-align: center;
   background-color: var(--bg-dark-primary);
   color: var(--text-primary);
   padding: 0.75rem;
   border-radius: 0.25rem;
   position: fixed;
   bottom: 6rem;
   right: 1rem;
   width: 30%;
   max-width: 13rem;
   z-index: 1;
}

.fa-arrow-up {
   margin-right: 0.35rem;
   color: var(--color-primary);
}

@media (min-width: 992px) {
   .back-to-top {
      font-size: 1.5rem;
      right: 2rem;
      bottom: 2rem;
   }
}
