<div class="container">
   <h2>Create your account</h2>
   <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group row" [class.has-error]="userName.errors && (userName.touched || userName.dirty)">
         <label for="userName" class="col-form-label col-sm-3">Username</label>
         <div class="col-sm-9">
            <span class="sr-only" id="userNameHelpBlock">
               Username must only contain letters, numbers, hyphen (-), or underscore(_)
            </span>
            <input
               type="text"
               class="form-control"
               id="userName"
               name="userName"
               #userName="ngModel"
               [(ngModel)]="user.userName"
               required
               maxlength="30"
               pattern="^[\w-]+$"
               placeholder="Only letters, numbers, hyphen (-), or underscore(_)"
               aria-describedby="userNameHelpBlock"
            />
            <small class="input-length-indicator">{{ userName.value.length }}/30</small>
         </div>
      </div>
      <div class="form-group row" [class.has-error]="firstName.errors && firstName.touched">
         <label for="firstName" class="col-form-label col-sm-3">First name</label>
         <div class="col-sm-9">
            <input
               type="text"
               class="form-control"
               id="firstName"
               name="firstName"
               #firstName="ngModel"
               [(ngModel)]="user.firstName"
               required
               maxlength="30"
            />
            <small class="input-length-indicator">{{ firstName.value.length }}/30</small>
         </div>
      </div>
      <div class="form-group row" [class.has-error]="lastName.errors && lastName.touched">
         <label for="lastName" class="col-form-label col-sm-3">Last name</label>
         <div class="col-sm-9">
            <input
               type="text"
               class="form-control"
               id="lastName"
               name="lastName"
               #lastName="ngModel"
               [(ngModel)]="user.lastName"
               required
               maxlength="30"
            />
            <small class="input-length-indicator">{{ lastName.value.length }}/30</small>
         </div>
      </div>
      <div class="form-group row" [class.has-error]="password.errors && password.touched">
         <label for="password" class="col-form-label col-sm-3">Password</label>
         <div class="col-sm-9">
            <input
               type="password"
               class="form-control"
               id="password"
               name="password"
               #password="ngModel"
               [(ngModel)]="user.password"
               required
               pattern="[\w\s]{6}.*"
               title="At least 6 characters"
            />
            <!-- pattern="^.{6}.*$" -->
         </div>
      </div>
      <div
         class="form-group row"
         [class.has-error]="
            (confirmPassword.dirty || confirmPassword.touched) &&
            (confirmPassword.errors || confirmPassword.value !== password.value)
         "
      >
         <label for="confirmPassword" class="col-form-label col-sm-3">Confirm password</label>
         <div class="col-sm-9">
            <input
               type="password"
               class="form-control"
               id="confirmPassword"
               name="confirmPassword"
               #confirmPassword="ngModel"
               [(ngModel)]="user.confirmPassword"
               required
               title="Must match password"
            />
            <small
               *ngIf="(confirmPassword.dirty || confirmPassword.touched) && confirmPassword.value !== password.value"
               class="help-block"
            >
               Passwords do not match
            </small>
         </div>
      </div>

      <button type="submit" class="btn my-btn-primary" [disabled]="form.invalid">Submit</button>
   </form>
</div>
