<div class="container">
   <h2 class="title">Create your account</h2>
   <form class="signup-form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="form-group row" [class.has-error]="userName.errors && (userName.touched || userName.dirty)">
         <label for="userName" class="col-form-label col-sm-3">Username</label>
         <div class="col-sm-9">
            <input
               type="text"
               class="form-control"
               id="userName"
               name="userName"
               #userName="ngModel"
               [(ngModel)]="user.userName"
               required
               maxlength="30"
               pattern="^[\w-]+$"
               aria-describedby="userNameHelpBlock"
            />
            <small class="input-length-indicator">{{ userName.value.length }}/30</small>
            <small class="form-text text-muted" id="userNameHelpBlock">
               Username must only contain letters, numbers, hyphen (-), or underscore(_)
            </small>
         </div>
      </div>
      <div class="form-group row" [class.has-error]="firstName.errors && (firstName.touched || firstName.dirty)">
         <label for="firstName" class="col-form-label col-sm-3">First name</label>
         <div class="col-sm-9">
            <input
               type="text"
               class="form-control"
               id="firstName"
               name="firstName"
               #firstName="ngModel"
               [(ngModel)]="user.firstName"
               required
               maxlength="30"
               pattern="^\S+$"
            />
            <small class="input-length-indicator">{{ firstName.value.length }}/30</small>
            <small
               class="error-help-block"
               *ngIf="firstName.errors && firstName.errors.pattern && (firstName.touched || firstName.dirty)"
            >
               First name cannot contain whitespace
            </small>
         </div>
      </div>
      <div class="form-group row" [class.has-error]="lastName.errors && (lastName.touched || lastName.dirty)">
         <label for="lastName" class="col-form-label col-sm-3">Last name</label>
         <div class="col-sm-9">
            <input
               type="text"
               class="form-control"
               id="lastName"
               name="lastName"
               #lastName="ngModel"
               [(ngModel)]="user.lastName"
               required
               maxlength="30"
               pattern="^\S+$"
            />
            <small class="input-length-indicator">{{ lastName.value.length }}/30</small>
            <small
               class="error-help-block"
               *ngIf="lastName.errors && lastName.errors.pattern && (lastName.touched || lastName.dirty)"
            >
               Last name cannot contain whitespace
            </small>
         </div>
      </div>
      <div class="form-group row" [class.has-error]="password.errors && password.touched">
         <label for="password" class="col-form-label col-sm-3">Password</label>
         <div class="col-sm-9">
            <input
               type="password"
               class="form-control"
               id="password"
               name="password"
               #password="ngModel"
               [(ngModel)]="user.password"
               required
               pattern="[\w\s]{6}.*"
               title="At least 6 characters"
            />
         </div>
      </div>
      <div
         class="form-group row"
         [class.has-error]="confirmPassword.errors && (confirmPassword.touched || confirmPassword.dirty)"
      >
         <label for="confirmPassword" class="col-form-label col-sm-3">Confirm password</label>
         <div class="col-sm-9">
            <input
               type="password"
               class="form-control"
               id="confirmPassword"
               name="confirmPassword"
               #confirmPassword="ngModel"
               [(ngModel)]="user.confirmPassword"
               required
               [pattern]="password.value"
               title="Must match password"
            />
            <small
               *ngIf="
                  confirmPassword.errors &&
                  confirmPassword.errors.pattern &&
                  (confirmPassword.touched || confirmPassword.dirty)
               "
               class="error-help-block"
            >
               Passwords do not match
            </small>
         </div>
      </div>

      <button type="submit" class="btn my-btn-primary" [disabled]="form.invalid">Submit</button>
   </form>
</div>
