h2 {
   margin: 2rem 0;
   font-weight: bold;
}

form {
   margin-top: 2rem;
}

label {
   font-size: 1rem;
}

.input-length-indicator {
   font-size: 0.9rem;
   display: none;
}

.form-control:focus + .input-length-indicator {
   display: inline-block;
}

button {
   margin-top: 1rem;
}

@media (min-width: 768px) {
   .container {
      width: 50%;
   }

   .form-group {
      margin-top: 2rem;
   }

   form {
      margin-top: 3rem;
   }

   label {
      font-size: 1.1rem;
   }
}
