.sidebar {
   margin: 0;
   padding: 0;
   width: 100vw;
   height: 5rem;
   position: fixed;
   bottom: 0;
   font-family: var(--font-primary);
   background-color: var(--bg-dark-primary);
   color: var(--text-primary);
}

.sidebar-brand {
   display: none;
   margin: 1rem 0;
   text-transform: uppercase;
}

.sidebar-brand-link {
   text-decoration: none;
   color: var(--color-primary);
}

.sidebar-brand-text {
   text-align: center;
   font-size: 1.5rem;
   font-weight: bold;
   letter-spacing: 0.2rem;
}

.sidebar-nav {
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
   list-style: none;
}

.sidebar-nav-item {
   width: 100%;
   height: 100%;
   text-align: center;
}

.sidebar-nav-link {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color: var(--text-primary);
   text-decoration: none;
   transition: var(--transition-speed);
}

.active,
.sidebar-nav-link:hover {
   color: var(--color-primary);
   background-color: var(--bg-dark-primary-highlighted);
}

.sidebar-nav-item i {
   font-size: 1.5rem;
   margin-bottom: 0.4rem;
}

@media (min-width: 768px) {
   .sidebar {
      height: 100vh;
      width: 15rem;
      max-width: 30%;
      bottom: auto;
   }

   .sidebar-brand {
      display: block;
   }

   .sidebar-nav {
      flex-direction: column;
      justify-content: flex-start;
   }

   .sidebar-nav-item {
      height: 4rem;
      text-align: left;
   }

   .sidebar-nav-item:last-child {
      margin-top: auto;
   }

   .sidebar-nav-link {
      padding-left: 2.5rem;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
   }

   .sidebar-nav-item i {
      font-size: 1.6rem;
      margin-right: 1rem;
      margin-bottom: 0;
   }

   .sidebar-nav-item span {
      font-size: 1.2rem;
   }
}
