<nav class="my-sidebar">
   <ul class="navbar-flex flex-container">
      <li class="navbar-flex-item flex-container">
         <a routerLink="home"> <i class="fa fa-home"></i><span>Home</span> </a>
      </li>
      <li class="navbar-flex-item flex-container">
         <a routerLink="artists">
            <i class="fa fa-music"></i><span>Artists</span>
         </a>
      </li>
      <li class="navbar-flex-item flex-container">
         <i class="fa fa-compact-disc"></i><span>Albums</span>
      </li>
      <li class="navbar-flex-item flex-container">
         <i class="fa fa-play"></i>
         <span>Playlists</span>
      </li>
      <li class="navbar-flex-item flex-container">
         <a routerLink="login">
            <i class="fas fa-sign-in-alt"></i>
            <span>Login</span>
         </a>
      </li>
   </ul>
</nav>
