<nav class="my-sidebar">
   <ul class="navbar-flex flex-container">
      <li class="navbar-flex-item flex-container">
         <i class="fa fa-home"></i><span>Home</span>
      </li>
      <li class="navbar-flex-item flex-container">
         <i class="fa fa-music"></i><span>Artists</span>
      </li>
      <li class="navbar-flex-item flex-container">
         <i class="fa fa-compact-disc"></i><span>Albums</span>
      </li>
      <li class="navbar-flex-item flex-container">
         <i class="fa fa-play"></i>
         <span>Playlists</span>
      </li>
      <li class="navbar-flex-item flex-container">
         <i class="fas fa-sign-in-alt"></i>
         <span>Login</span>
      </li>
   </ul>
</nav>
