<nav class="sidebar">
   <ul class="sidebar-nav">
      <li class="sidebar-brand">
         <a routerLink="home" class="sidebar-brand-link">
            <h2 class="sidebar-brand-text">Luca's Music Library</h2>
         </a>
      </li>
      <li class="sidebar-nav-item">
         <a class="sidebar-nav-link" routerLink="home" routerLinkActive="active">
            <i class="fa fa-home"></i><span>Home</span>
         </a>
      </li>
      <li class="sidebar-nav-item">
         <a class="sidebar-nav-link" routerLink="artists" routerLinkActive="active">
            <i class="fa fa-music"></i><span>Artists</span>
         </a>
      </li>
      <li class="sidebar-nav-item">
         <a class="sidebar-nav-link" routerLink="albums" routerLinkActive="active">
            <i class="fa fa-compact-disc"></i><span>Albums</span>
         </a>
      </li>
      <li class="sidebar-nav-item">
         <a class="sidebar-nav-link" routerLinkActive="active">
            <i class="fa fa-play"></i>
            <span>Playlists</span>
         </a>
      </li>
      <li *ngIf="!token" class="sidebar-nav-item">
         <a class="sidebar-nav-link" routerLink="login" routerLinkActive="active">
            <i class="fas fa-sign-in-alt"></i>
            <span>Login</span>
         </a>
      </li>
      <li *ngIf="token" class="sidebar-nav-item">
         <a class="sidebar-nav-link" routerLinkActive="active" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
         </a>
      </li>
   </ul>
</nav>
