<div class="container">
   <app-add-album-to-playlist-menu
      [notifier]="addAlbumToPlaylistAction.asObservable()"
   ></app-add-album-to-playlist-menu>

   <h1 class="page-title">{{ playlist.name }}</h1>
   <h4>
      <span class="text-muted">Playlist by </span>
      <strong>{{ playlist.creatorUserName }}</strong>
   </h4>
   <div class="btn-row">
      <button class="btn my-btn-primary" *ngIf="userIsAuthenticated">Duplicate playlist</button>
      <button class="btn btn-secondary" *ngIf="userOwnsPlaylist">
         Make playlist {{ playlist.isPrivate ? "public" : "private" }}
      </button>
      <button class="btn btn-danger" *ngIf="userOwnsPlaylist">Delete playlist</button>
   </div>

   <div class="table-responsive albums-list">
      <h4>{{ playlistAlbums.length }} Albums</h4>
      <table class="table">
         <thead>
            <th>Title</th>
            <th>Artist</th>
            <th *ngIf="userIsAuthenticated"></th>
         </thead>
         <tbody>
            <tr *ngFor="let album of playlistAlbums">
               <td>{{ album.name }}</td>
               <td>{{ album.artistName }}</td>
               <td *ngIf="userIsAuthenticated">
                  <div ngbDropdown>
                     <button class="btn my-btn-outline-primary btn-sm" id="actionsBtn" ngbDropdownToggle>
                        Actions
                     </button>
                     <div ngbDropdownMenu aria-labelledby="actionsBtn">
                        <button ngbDropdownItem (click)="addAlbumToPlaylistAction.next(album)">Add to playlist</button>
                        <div class="dropdown-divider"></div>
                        <ng-container *ngIf="userOwnsPlaylist">
                           <button class="remove-from-playlist" ngbDropdownItem>Remove from playlist</button>
                        </ng-container>
                     </div>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
