<div class="container">
   <div class="title-wrapper">
      <h1 class="page-title">{{ playlist.name }}</h1>
      <i class="fa fa-lock" *ngIf="playlist.isPrivate"></i>
   </div>
   <h4>
      <span class="text-muted">Playlist by </span>
      <strong>{{ playlist.creatorUserName }}</strong>
   </h4>
   <button class="btn my-btn-primary">Duplicate playlist</button>
   <button class="btn btn-secondary">Make playlist private</button>
   <button class="btn btn-danger">Delete playlist</button>

   <div class="table-responsive albums-list">
      <h4>{{ playlistAlbums.length }} Albums</h4>
      <table class="table">
         <thead>
            <th>Title</th>
            <th>Artist</th>
            <th></th>
         </thead>
         <tbody>
            <tr *ngFor="let album of playlistAlbums">
               <td>{{ album.name }}</td>
               <td>{{ album.artistName }}</td>
               <td><button class="btn my-btn-outline-primary">Actions</button></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
