<div class="container">
   <app-add-album-to-playlist-menu
      [notifier]="addAlbumToPlaylistAction.asObservable()"
   ></app-add-album-to-playlist-menu>

   <h1 class="page-title">{{ playlist.name }}</h1>
   <h4>
      <span class="text-muted">Playlist by </span>
      <strong>{{ playlist.creatorUserName }}</strong>
   </h4>
   <div class="btn-row">
      <button class="btn my-btn-primary">Duplicate playlist</button>
      <button class="btn btn-secondary">Make playlist private</button>
      <button class="btn btn-danger">Delete playlist</button>
   </div>

   <div class="table-responsive albums-list">
      <h4>{{ playlistAlbums.length }} Albums</h4>
      <table class="table">
         <thead>
            <th>Title</th>
            <th>Artist</th>
            <th></th>
         </thead>
         <tbody>
            <tr *ngFor="let album of playlistAlbums">
               <td>{{ album.name }}</td>
               <td>{{ album.artistName }}</td>
               <td>
                  <div ngbDropdown>
                     <button class="btn my-btn-outline-primary" id="actionsBtn" ngbDropdownToggle>Actions</button>
                     <div ngbDropdownMenu aria-labelledby="actionsBtn">
                        <button ngbDropdownItem (click)="addAlbumToPlaylistAction.next(album)">Add to playlist</button>
                        <button class="remove-from-playlist" ngbDropdownItem>Remove from playlist</button>
                     </div>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
