/* You can add global styles to this file, and also import other style files */
:root {
   font-size: 12px;
   font-family: var(--font-primary);
   --font-primary: "Roboto", sans-serif;
   --bg-dark-primary: hsl(0, 0%, 14%);
   --bg-dark-primary-highlighted: hsl(0, 0%, 9%);
   --heading-primary: hsl(0, 0%, 100%);
   --text-primary: hsl(0, 0%, 83%);
   --color-primary: hsl(300, 100%, 34%);
   --transition-speed: 300ms;
}

html,
body {
   padding: 0;
   margin: 0;
}

p {
   max-width: 70ch;
}

.flex-container {
   display: flex;
}

@media (min-width: 768px) {
   :root {
      font-size: 16px;
   }
}
