/* You can add global styles to this file, and also import other style files */
:root {
   font-size: 12px;
   font-family: var(--font-primary);
   --font-primary: "Roboto", sans-serif;
   --bg-dark-primary: hsl(0, 0%, 14%);
   --bg-dark-primary-highlighted: hsl(0, 0%, 9%);
   --heading-primary: hsl(0, 0%, 100%);
   --text-primary: hsl(0, 0%, 83%);
   --color-primary: hsl(300, 93%, 34%);
   --color-primary-lighter: hsl(300, 93%, 45%);
   --color-primary-darker: hsl(300, 92%, 29%);
   --transition-speed: 300ms;
}

html,
body {
   padding: 0;
   margin: 0;
}

p {
   max-width: 70ch;
}

.flex-container {
   display: flex;
}

.form-control:focus {
   outline: none;
   box-shadow: 0 0 0.15rem 0.15rem var(--color-primary);
   -webkit-box-shadow: 0 0 0.15rem 0.15rem var(--color-primary);
   border-color: var(--color-primary);
}

.input-length-indicator {
   font-size: 0.9rem;
   display: none;
}

.form-control:focus + .input-length-indicator {
   display: block;
}

.form-group.has-error {
   color: red;
}

.form-group.has-error .form-control {
   border-color: red;
}

.my-btn-primary {
   background-color: var(--color-primary);
   border-color: var(--color-primary);
   color: white;
}

.my-btn-primary:hover {
   background-color: var(--color-primary-darker);
   border-color: var(--color-primary-darker);
   color: white;
}

.my-btn-primary:focus,
.my-btn-primary:active {
   background-color: var(--color-primary-darker);
   border-color: var(--color-primary-darker);
   box-shadow: 0 0 0.15rem 0.15rem var(--color-primary-lighter);
   -webkit-box-shadow: 0 0 0.15rem 0.15rem var(--color-primary-lighter);
}

.my-btn-primary:disabled {
   background-color: var(--color-primary-lighter);
   border-color: var(--color-primary-lighter);
}

.my-btn-outline-primary {
   color: var(--color-primary);
   border-color: var(--color-primary);
}

.my-btn-outline-primary:not(:disabled):hover {
   background-color: var(--color-primary);
   color: var(--heading-primary);
   border-color: var(--color-primary);
}

.my-btn-outline-primary:not(:disabled):active,
.my-btn-outline-primary:not(:disabled):focus {
   box-shadow: 0 0 0.15rem 0.15rem var(--color-primary-lighter);
   -webkit-box-shadow: 0 0 0.15rem 0.15rem var(--color-primary-lighter);
}

.my-btn-outline-primary:disabled {
   color: gray;
   border-color: gray;
}

.divider {
   height: 2px;
   background-color: hsl(0, 0%, 85%);
}

.page-title {
   color: var(--color-primary);
   font-weight: bold;
   margin: 2rem 0;
}

.primary-color-link {
   color: var(--color-primary);
}

.primary-color-link:hover {
   color: var(--color-primary-darker);
}

@media (min-width: 768px) {
   :root {
      font-size: 16px;
   }
}
