<div class="container">
   <h1 class="page-title">Welcome to the Music Libary</h1>
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, animi at! Porro distinctio minima nam vero
      pariatur. Fugiat ea omnis amet reiciendis delectus vero veniam natus aperiam velit voluptate. Eius harum similique
      inventore deserunt, cum repellat recusandae culpa? Recusandae sunt rem soluta. Quo incidunt autem cumque quibusdam
      eius illum tempore.
   </p>
   <div class="divider"></div>
   <h2 class="section-title">The Front End</h2>
   <div class="showcase-row row">
      <div class="icon-col col-md-5">
         <div class="icon-row row justify-content-center">
            <div class="icon-item col-6">
               <i class="fab fa-html5"></i>
               <h6 class="icon-name">HTML 5</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-css3-alt"></i>
               <h6 class="icon-name">CSS 3</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-angular"></i>
               <h6 class="icon-name">Angular</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-bootstrap"></i>
               <h6 class="icon-name">Bootstrap</h6>
            </div>
         </div>
      </div>
      <div class="showcase-description col-md-7">
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora dolor quis, quibusdam possimus
            corrupti ea suscipit facilis nulla doloremque soluta magni consequuntur sint. Natus, ipsam ipsa. Voluptatum
            deleniti voluptas nobis quos fuga a, exercitationem sapiente beatae dolores! Natus, rerum?
         </p>
         <a href="https://github.com/luca-padula/music-library-client" target="new">
            <button class="btn my-btn-primary">See the source</button>
         </a>
      </div>
   </div>

   <div class="divider"></div>
   <h2 class="section-title">The Back End</h2>
   <div class="showcase-row row">
      <div class="icon-col col-md-5 order-md-2">
         <div class="icon-row row justify-content-center">
            <div class="icon-item col-6">
               <i class="fab fa-js-square"></i>
               <h6 class="icon-name">JavaScript</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-node-js"></i>
               <h6 class="icon-name">Node.js</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fas fa-database"></i>
               <h6 class="icon-name">MongoDB</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fas fa-user-shield"></i>
               <h6 class="icon-name">JSON Web Token</h6>
            </div>
         </div>
      </div>
      <div class="showcase-description col-md-7">
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora dolor quis, quibusdam possimus
            corrupti ea suscipit facilis nulla doloremque soluta magni consequuntur sint. Natus, ipsam ipsa. Voluptatum
            deleniti voluptas nobis quos fuga a, exercitationem sapiente beatae dolores! Natus, rerum?
         </p>
         <a href="https://github.com/luca-padula/music-library-api" target="new">
            <button class="btn my-btn-primary">See the source</button>
         </a>
      </div>
   </div>
</div>
