<div class="container">
   <h1 class="page-title">Welcome to the Music Libary</h1>
   <p>
      Welcome to my Music Library app! Browse the app to discover other people's favourite albums and artists and create
      an account to add some of your own. Use the navigation bar to navigate all of the features of the app. If you
      would like to learn more about how the app was built or are interested in more of my work, see below.
   </p>
   <div class="divider"></div>
   <h2 class="section-title">The Front End</h2>
   <div class="showcase-row row">
      <div class="icon-col col-md-5">
         <div class="icon-row row justify-content-center">
            <div class="icon-item col-6">
               <i class="fab fa-html5"></i>
               <h6 class="icon-name">HTML 5</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-css3-alt"></i>
               <h6 class="icon-name">CSS 3</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-angular"></i>
               <h6 class="icon-name">Angular</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-bootstrap"></i>
               <h6 class="icon-name">Bootstrap</h6>
            </div>
         </div>
      </div>
      <div class="showcase-description col-md-7">
         <p>
            The client side is built with Angular 11 using Typescript, HTML 5, Bootstrap, and some custom CSS. It
            interacts with the server side REST API using services as per Angular best practices, makes use of RXJS, and
            was deployed using Netlify.
         </p>
         <a href="https://github.com/luca-padula/music-library-client" target="new">
            <button class="btn my-btn-primary">See the source code</button>
         </a>
      </div>
   </div>

   <div class="divider"></div>
   <h2 class="section-title">The Back End</h2>
   <div class="showcase-row row">
      <div class="icon-col col-md-5 order-md-2">
         <div class="icon-row row justify-content-center">
            <div class="icon-item col-6">
               <i class="fab fa-js-square"></i>
               <h6 class="icon-name">JavaScript</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fab fa-node-js"></i>
               <h6 class="icon-name">Node.js</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fas fa-database"></i>
               <h6 class="icon-name">MongoDB</h6>
            </div>
            <div class="icon-item col-6">
               <i class="fas fa-user-shield"></i>
               <h6 class="icon-name">JSON Web Token</h6>
            </div>
         </div>
      </div>
      <div class="showcase-description col-md-7">
         <p>
            The server side is a REST API built using JavaScript with Node.js and the Express framework and deployed to
            Heroku. It uses MongoDB for a NoSQL database and includes security measures in Express-Validator for
            server-side validation and JSON Web Tokens with the Passport library for authentication.
         </p>
         <a href="https://github.com/luca-padula/music-library-api" target="new">
            <button class="btn my-btn-primary">See the source code</button>
         </a>
      </div>
   </div>

   <div class="divider"></div>
   <h2 class="section-title">About Me</h2>
   <div class="showcase-row row">
      <div class="icon-col col-md-5">
         <div class="icon-row row justify-content-center">
            <div class="icon-item col-6">
               <a href="https://ca.linkedin.com/in/luca-padula-86575514b" target="new">
                  <i class="fab fa-linkedin"></i>
               </a>
               <h6 class="icon-name">LinkedIn</h6>
            </div>
            <div class="icon-item col-6">
               <a href="https://github.com/luca-padula" target="new">
                  <i class="fab fa-github-square"></i>
               </a>
               <h6 class="icon-name">GitHub</h6>
            </div>
         </div>
      </div>
      <div class="showcase-description col-md-7 last-paragraph">
         <p>
            My name is Luca Padula. I am a graduate of the Computer Programming and Analysis program at Seneca College.
            I have experience in programming using a wide variety of languages, tools, and frameworks. If you would like
            to learn more about my experience and other completed projects, see my GitHub and LinkedIn.
         </p>
      </div>
   </div>
</div>
