<div class="container">
   <h1 class="page-title">Welcome to the Music Libary</h1>
   <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, animi at! Porro distinctio minima nam vero
      pariatur. Fugiat ea omnis amet reiciendis delectus vero veniam natus aperiam velit voluptate. Eius harum similique
      inventore deserunt, cum repellat recusandae culpa? Recusandae sunt rem soluta. Quo incidunt autem cumque quibusdam
      eius illum tempore.
   </p>
   <div class="divider"></div>
   <h2 class="section-title">The Front End</h2>
   <div class="showcase-row">
      <div class="icons">
         <div class="icon-row">
            <div class="icon-item">
               <i class="fab fa-html5"></i>
               <h6 class="icon-name">HTML 5</h6>
            </div>
            <div class="icon-item">
               <i class="fab fa-css3-alt"></i>
               <h6 class="icon-name">CSS 3</h6>
            </div>
         </div>
         <div class="icon-row">
            <div class="icon-item">
               <i class="fab fa-angular"></i>
               <h6 class="icon-name">Angular</h6>
            </div>
            <div class="icon-item">
               <i class="fab fa-bootstrap"></i>
               <h6 class="icon-name">Bootstrap</h6>
            </div>
         </div>
      </div>
      <div class="showcase-description">
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora dolor quis, quibusdam possimus
            corrupti ea suscipit facilis nulla doloremque soluta magni consequuntur sint. Natus, ipsam ipsa. Voluptatum
            deleniti voluptas nobis quos fuga a, exercitationem sapiente beatae dolores! Natus, rerum?
         </p>
         <button class="btn my-btn-primary">See the source</button>
      </div>
   </div>
</div>
